.aboutSectionContainer {
  display: flex;
  flex-flow: row nowrap;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.aboutSectionContainer__video {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.aboutSectionContainer__video--overlay {
  background-color: black;
  box-sizing: border-box;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.aboutSectionContainer__about{
  color: #fff;
  height: 50%;
  margin: 15rem auto;
  letter-spacing: .2rem;
  text-align: center;
  width: 35%;
  z-index: 1;
}

.aboutSectionContainer__about__header {
  font-size: 5.2rem;
  text-transform: uppercase;
}

.aboutSectionContainer__about__text {
  font-size: 2.2rem;
  line-height: 3rem;
}

@media(max-width: 950px) {
  .aboutSectionContainer__about {
    width: 60%;
  }
}

@media(max-width: 720px) {
  .aboutSectionContainer__about {
    margin: 10rem auto;
  }

  .aboutSectionContainer__about__header {
    font-size: 3.4rem;
  }

  .aboutSectionContainer__about__text {
    font-size: 1.8rem;
    letter-spacing: .1rem;
  }
}

@media(max-width: 576px) {
  .aboutSectionContainer__about {
    margin: 6rem auto;
  }

  .aboutSectionContainer__about__header {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .aboutSectionContainer__about__text {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    line-height: 1.4rem;
  }
}