.hireMeSectionContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  letter-spacing: .2rem;  
  margin: 15rem 0 0 0;
  text-align: center;
}

.hireMeSectionContainer__header {
  font-size: 5.2rem;
  font-weight: bold;
  margin: 0 0 5rem 0;
  text-transform: uppercase;  
}

.hireMeSectionContainer__info {
  font-size: 2.2rem;
  line-height: 3rem;
  width: 75%;  
}