.navbar {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 5rem;
  position: fixed;
  width: 100%;
  z-index: 3;
  & a {
    text-decoration: none;
  }
}

.navbar--scroll {
  align-items: center;
  background-color: #fff;
  height: 5rem;
  & a {
    color: #000;
  }
  .navbar__title {
    font-size: 2rem;

  }
  .navbar__listItem:hover {
    color: #5900f9;
  }
}

.navbar__title {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: bold;
  margin: 2rem 0;
}

.navbar__list {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: .2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.navbar__listItem {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 1rem 3.5rem;
  &:hover {
    color: darken($color: #fff, $amount: 30%)
  }
}