@import './base/_base';
@import './components/_about';
@import './components/_navbar';

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  height: 100rem;
  // background-color: springgreen;
  box-sizing: border-box;
}

// #root {
//   width: 100%;
// }