@import './base/_base';
@import './components/_about';
@import './components/_contact';
@import './components/_arrow';
@import './components/_hireMe';
@import './components/_imageSlide';
@import './components/_navbar';
@import './components/_skills';
@import './components/_work';

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  height: 100rem;
  // background-color: springgreen;
  box-sizing: border-box;
  // text-align: center;
}

// #root {
  // width: 100%;
  // text-align: center;
  // box-sizing: border-box;
// }